.li-con {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1%;
    margin: 1%;
    margin-left: 20%;
    background-color: #282c34;
}

.li-text {
    width: 20%;
}

.li-image {
    width: 10%;
    height: 5%;
}

.update-con {
    margin-top: 2%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.li-header {
  width: 10%;  
}

.input {
    width: 20%;
    margin-right: 1%;
}

.btn {
    width: 10%;
    margin-left: 1%;
}